html,body{
  background-color: rgb(236, 236, 236)!important;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  
}

#logo{
  width: 95px;
  height: 95px;
  margin:0 0 0 0px;
  position: relative;
}

#logo-space{
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  background-color: rgba(14, 13, 13, 0.891);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.673);
  padding: 14px;
  color: aliceblue;
  user-select: none;
  text-align: left;
  font-size: 3.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  align-self: left;
  box-shadow: 0 0 13px black;
}

#modal{
  box-sizing: border-box;
  padding: 14px;
  display: flex;
  justify-content:baseline;
  transition: 0.3s;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 80vw;
  height: fit-content;
  max-height: 90%;
  background-color: rgb(216, 216, 216);
  z-index: 7;
}

#modal-text{
  font-size: 22px;
}

#modal-title{
  text-align: center;
  align-self: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 1.8em;
}

#modal-button{
  position: relative;
  background-color: rgb(21, 21, 21);
  color: aliceblue;
  border: none;
  width: 200px;
  height: 40px;
  margin: 8px;
  font-size: 1.1em;
}


#modal > img{
  align-self: left;
  margin: 14px 65% 14px 14px;
  width: 200px;
  height: 300px;
}

#fade.show{
  opacity: 1;
}

#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-text{
  font-size: 22px;
}

#modal-button-comprar{
  background-color:rgba(11,11,11,11);
  color: aliceblue;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  width: 200px;
  height: 60px
}

#purchase-menu{
  user-select: none;
  justify-content:center;
  position: relative;
  left: 100%;
  bottom: 91%;
  max-width: 68%;
  min-height: 80%;
  max-height: 100%;
  display: flex;
  background-color: rgb(194, 194, 194);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.42);
}

#purchase-menu > input{
  margin: 10px;
  height: 26px;
  border: 0px;
}

espaco{
  box-sizing: border-box;
  padding: 10px;
  display: block;
  align-items: left;
  justify-content: left;
  max-width:60%;
  max-height:90%;
  background-color: rgb(228, 228, 228);
}


espaco > img{
  margin-top: 4px;
  width: 200px;
  height: 300px;
}



header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.143);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4em;
  letter-spacing: 1.4px;
  font-weight: 600;
}
header > div.nav{
  display: flex;
  height: fit-content;
  margin: 0px 0 40px;
  padding: 0px;
  color: black;
  justify-content: left;
  flex-wrap: wrap;
}
header > div.nav>a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 650;
  font-size: 1.2em;
  background-color: rgba(181, 181, 181, 0.484);
  margin: 10px;
  padding: 4px;
  color: black;
  text-decoration: none;
}


p{
  user-select: none;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bolder;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.675);
}

.Grid_Books{
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content:center;
  margin-top: 20px;
  width: 98vw;
  height: 500px;
  background-color: rgba(197, 197, 197, 0.426);
  box-shadow:0 0 7px rgba(0, 0, 0, 0.503);
  border-radius: 0 0 30px 30px;

}

.books{
  user-select: none;
  box-sizing: border-box;
  padding: 14px 0 14px 0;
  text-align: center;
  margin: 10px;
  border-radius: 6px;
  max-height: 60%;
  min-width: 30.5%;
  background-color: rgba(194, 194, 194, 0.445);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.422);
}

.books img{
  min-height: 120px;
  min-width: 120px ;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 16px;
}

post{
  display: block;
  max-height: 18px;
  font-size: 1.3em;
}

.buttonsComprar{
  border: 0px;
  background-color: rgb(11, 11, 11);
  cursor: pointer;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  margin-top: 10px;
  width: 95%;
  height: 24%;
}

.buttonsSobre{
  border: 0px;
  background-color: rgb(79, 75, 75);
  cursor: pointer;
  color: aliceblue;
  border: 1px solid black;
  font-weight: bolder;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  margin-top: 10px;
  width: 95%;
  height: 60px;
}

.buttonsComprar:hover{
  border: 1px solid black;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  color: black;
}

.buttonsSobre:hover{
  transition: 0.4s;
  border: 1px solid black;
  background-color: rgb(216, 216, 216);
  color: black;
}

footer{
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin: 2% 0 0 0;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 20px 0;
}